body {
  font-family: Arial, sans-serif;
  text-align: center;
}



#game-container {
  max-width: 600px;
  margin: 0 auto;
}

#letters-container, #answers-container, #questions-container, #hangman-container {
  margin-top: 50px;
}

#word-display {
  font-size: 24px;
  margin-bottom: 20px;
}


#letter-choices {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.letter-choice {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  background-color: #2ecc71;
  color: #fff;
  border: round;
  cursor: pointer;
}

